Source: lintian-profile-vyatta
Section: devel
Priority: optional
Maintainer: NuDanOS Maintainers <jon@fernandez.tech>
Build-Depends: debhelper-compat (= 13),
 lintian
Standards-Version: 4.7.2
Rules-Requires-Root: no
Vcs-Git: https://github.com/nudanos/lintian-profile-vyatta.git
Vcs-Browser: https://github.com/nudanos/lintian-profile-vyatta

Package: lintian-profile-vyatta
Architecture: all
Depends: lintian,
 ${misc:Depends}
Description: Vyatta vendor profile for Lintian
 Lintian dissects Debian packages and reports bugs and policy
 violations. It contains automated checks for many aspects of Debian
 policy as well as some checks for common errors.
 .
 This vendor profile is used for Vyatta packages.
